<!DOCTYPE html>
<html>
<head>
 <title>Bounce Demand Prediction</title>
</head>
<body>
 <div class="bg-info" align="center">
     <h2>Bounce Demand Prediction</h2>
 </div>
<div>
    <form method="post" action="http://127.0.0.1:5000/predict">
	Holiday (0 or 1): <input type="text" name="holiday" value="0" /> <br />
        Working Day (0 or 1): <input type="text" name="workingDay" value="1" /> <br />
	Temp (degrees): <input type="text" name="temp" value="24" /> <br />
	aTemp (degrees): <input type="text" name="atemp" value="24" /> <br />
	Humidity: <input type="text" name="humidity" /> <br />	
	windspeed: <input type="text" name="windspeed" /> <br />
        year: <input type="text" name="year" /> <br />
        Day(1-31): <input type="text" name="day" value="1" /> <br />
	Season(1-4): <input type="text" name="season" value="1"/> <br />
	Weather(1-4):<input type="text" name="weather" value="1" /> <br />
	Hour(0-23):<input type="text" name="hour" value="0" /> <br />			
	Day_of_week(0-5): <input type="text" name="dayofweek" value="0" /> <br />
	month:<input type="text" name="month" /> <br />
        


        <input type="submit" />
    </form>
</div>
</body>
</html>