{% extends "layout.html" %}

{% block content %}

<div class="well">
    <h3>Bounce Demand Prediction - For illustration purpose only</h3>
    <h4>Powered by Brontominds</h4>
    <hr/>
    <form action="/predict">

        <div class="input-group">
            <span class="input-group-addon" style="width:200px; text-align:left">Date</span>
            <input id="date" type="text" class="form-control" name="date" placeholder="Date" value="24-July-2019">
        </div>
        <div class="input-group">
            <span class="input-group-addon" style="width:200px; text-align:left">Time</span>
            <input id="time" type="text" class="form-control" name="time" placeholder="Time" value="10:00AM - 11:00AM">
        </div>
        <div class="input-group">
            <span class="input-group-addon" style="width:200px; text-align:left">Location</span>
            <input id="location" type="text" class="form-control" name="location" placeholder="Location" value="Bellandur, Bangalore">
        </div>
        <br/>
        <button type="submit" class="btn btn-success">Predict Demand</button>
    </form>
</div>



{% endblock %}
